<figure class="table" style="width:107.09%;">
    <table class="ck-table-resized" style="border-collapse:collapse;" border="0" cellpadding="0" cellspacing="0" width="1073">
        <colgroup><col style="width:3.71%;" width="40"><col style="width:27.23%;" width="293"><col style="width:2.72%;" width="29"><col style="width:11.88%;" width="128"><col style="width:2.85%;" width="30"><col style="width:15.84%;" width="170"><col style="width:2.72%;" width="29"><col style="width:16.21%;" width="174"><col style="width:2.85%;" width="30"><col style="width:13.99%;" width="150"></colgroup>
        <tbody>
            <tr>
                <td class="xl65" style="background-color:rgb(241, 169, 131);border-bottom-style:none;border-left:0.5pt solid windowtext;border-right:.5pt solid black;border-top:0.5pt solid windowtext;font-style:normal;font-weight:400;height:15.0pt;padding-left:1px;padding-right:1px;padding-top:1px;text-align:center;text-decoration-line:none;text-wrap:nowrap;vertical-align:bottom;white-space-collapse:collapse;width:250pt;" colspan="2" height="20" width="333">
                    <span>HEMATOLOGI</span>
                </td>
                <td class="xl65" style="background-color:rgb(241, 169, 131);border-bottom-style:none;border-left:0.5pt none windowtext;border-right:.5pt solid black;border-top:0.5pt solid windowtext;font-style:normal;font-weight:400;padding-left:1px;padding-right:1px;padding-top:1px;text-align:center;text-decoration-line:none;text-wrap:nowrap;vertical-align:bottom;white-space-collapse:collapse;width:118pt;" colspan="2" width="157">
                    <span>FAAL HATI</span>
                </td>
                <td class="xl73" style="background-color:rgb(241, 169, 131);border-bottom-style:none;border-left:0.5pt solid windowtext;border-right:.5pt solid black;border-top:0.5pt solid windowtext;font-style:normal;font-weight:400;padding-left:1px;padding-right:1px;padding-top:1px;text-decoration-line:none;text-wrap:nowrap;vertical-align:bottom;white-space-collapse:collapse;width:151pt;" colspan="2" width="200">
                    <span>DIABETES MELITUS</span>
                </td>
                <td class="xl65" style="background-color:rgb(241, 169, 131);border-bottom-style:none;border-left:0.5pt none windowtext;border-right:.5pt solid black;border-top:0.5pt solid windowtext;font-style:normal;font-weight:400;padding-left:1px;padding-right:1px;padding-top:1px;text-align:center;text-decoration-line:none;text-wrap:nowrap;vertical-align:bottom;white-space-collapse:collapse;width:153pt;" colspan="2" width="203">
                    <span>TORCH</span>
                </td>
                <td class="xl65" style="background-color:rgb(241, 169, 131);border-bottom-style:none;border-left:0.5pt none windowtext;border-right:.5pt solid black;border-top:0.5pt solid windowtext;font-style:normal;font-weight:400;padding-left:1px;padding-right:1px;padding-top:1px;text-align:center;text-decoration-line:none;text-wrap:nowrap;vertical-align:bottom;white-space-collapse:collapse;width:136pt;" colspan="2" width="180">
                    <span>HORMON</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span>A01</span>
                </td>
                <td>
                    <span>Darah Lengkap</span>
                </td>
                <td >
                    <span>E01</span>
                </td>
                <td>
                    <span>SGOT</span>
                </td>
                <td >
                    <span>J01</span>
                </td>
                <td>
                    <span>Glukosa Puasa</span>
                </td>
                <td >
                    <span>N01</span>
                </td>
                <td>
                    <span>IgM Anti Toxoplasma</span>
                </td>
                <td >
                    <span>S01</span>
                </td>
                <td>
                    <span>LH</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span>A02</span>
                </td>
                <td>
                    <span>LED</span>
                </td>
                <td >
                    <span>E02</span>
                </td>
                <td>
                    <span>SGPT</span>
                </td>
                <td >
                    <span>J02</span>
                </td>
                <td>
                    <span>Glukosa 2 Jam PP</span>
                </td>
                <td >
                    <span>N02</span>
                </td>
                <td>
                    <span>IgG Anti Toxoplasma</span>
                </td>
                <td >
                    <span>S02</span>
                </td>
                <td>
                    <span>FSH</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span>A03</span>
                </td>
                <td>
                    <span>Eosinofil</span>
                </td>
                <td >
                    <span>E03</span>
                </td>
                <td>
                    <span>Albumin</span>
                </td>
                <td >
                    <span>J03</span>
                </td>
                <td>
                    <span>Glukosa Sewaktu</span>
                </td>
                <td >
                    <span>N03</span>
                </td>
                <td>
                    <span>IgG Anti Toxoplasma Avidity</span>
                </td>
                <td >
                    <span>S03</span>
                </td>
                <td>
                    <span>Prolaktin</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span>A04</span>
                </td>
                <td>
                    <span>Retikulosit</span>
                </td>
                <td >
                    <span>E04</span>
                </td>
                <td>
                    <span>Globulin</span>
                </td>
                <td >
                    <span>J04</span>
                </td>
                <td>
                    <span>HbAlc</span>
                </td>
                <td >
                    <span>N04</span>
                </td>
                <td>
                    <span>IgM Anti Rubella</span>
                </td>
                <td >
                    <span>S04</span>
                </td>
                <td>
                    <span>Testosteron</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span>A05</span>
                </td>
                <td>
                    <span>Hapusan Darah Tepi</span>
                </td>
                <td >
                    <span>E05</span>
                </td>
                <td>
                    <span>Total Protein</span>
                </td>
                <td >
                    <span>J05</span>
                </td>
                <td>
                    <span>Glicated Albumin</span>
                </td>
                <td >
                    <span>N05</span>
                </td>
                <td>
                    <span>IgG Anti Rubella</span>
                </td>
                <td >
                    <span>S05</span>
                </td>
                <td>
                    <span>Estradiol</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span>A06</span>
                </td>
                <td>
                    <span>Gol. Darah ABO</span>
                </td>
                <td >
                    <span>E06</span>
                </td>
                <td>
                    <span>GammaGT</span>
                </td>
                <td >
                    <span>J06</span>
                </td>
                <td>
                    <span>Insulin</span>
                </td>
                <td >
                    <span>N06</span>
                </td>
                <td>
                    <span>IgM Anti CMV</span>
                </td>
                <td >
                    <span>S06</span>
                </td>
                <td>
                    <span>Progesteron</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span>A07</span>
                </td>
                <td>
                    <span>Gol. Darah Rhesus</span>
                </td>
                <td >
                    <span>E07</span>
                </td>
                <td>
                    <span>Fosfatase Alkali</span>
                </td>
                <td >
                    <span>J07</span>
                </td>
                <td>
                    <span>C-Peptide</span>
                </td>
                <td >
                    <span>N07</span>
                </td>
                <td>
                    <span>IgG Anti CMV</span>
                </td>
                <td >
                    <span>S07</span>
                </td>
                <td>
                    <span>Cortisol</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span>A08</span>
                </td>
                <td>
                    <span>Faal Hemostasis</span>
                </td>
                <td >
                    <span>E08</span>
                </td>
                <td>
                    <span>Bilirubin</span>
                </td>
                <td >
                    <span>J08</span>
                </td>
                <td>
                    <span>Homa IR</span>
                </td>
                <td >
                    <span>N08</span>
                </td>
                <td>
                    <span>IgG Anti CMV Avidity</span>
                </td>
                <td >
                    <span>S08</span>
                </td>
                <td>
                    <span>Beta HCG Kuantitatif</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span>A09</span>
                </td>
                <td>
                    <span>PPT (PT)</span>
                </td>
                <td >
                    <span>E09</span>
                </td>
                <td>
                    <span>Cholinesterase</span>
                </td>
                <td >
                    <span>J09</span>
                </td>
                <td>
                    <span>Homa B</span>
                </td>
                <td >
                    <span>N09</span>
                </td>
                <td>
                    <span>IgM Anti HSV2</span>
                </td>
                <td >
                    <span>S09</span>
                </td>
                <td>
                    <span>Growth Hormon Basal</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span>A10</span>
                </td>
                <td>
                    <span>APTT</span>
                </td>
                <td >
                    <span>E10</span>
                </td>
                <td>
                    <span>Serum Protein ELP</span>
                </td>
                <td class="xl69" style="background-color:rgb(241, 169, 131);border-bottom-style:none;border-left:0.5pt none windowtext;border-right:.5pt solid black;border-top-style:none;font-style:normal;font-weight:400;padding-left:1px;padding-right:1px;padding-top:1px;text-align:center;text-decoration-line:none;text-wrap:nowrap;vertical-align:bottom;white-space-collapse:collapse;" colspan="2">
                    <span>FUNGSI TIROID</span>
                </td>
                <td >
                    <span>N10</span>
                </td>
                <td>
                    <span>IgG Anti HSV1</span>
                </td>
                <td >
                    <span>S10</span>
                </td>
                <td>
                    <span>Anti Mullerian</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span>A11</span>
                </td>
                <td>
                    <span>Fibrinogen</span>
                </td>
                <td >
                    <span>E11</span>
                </td>
                <td>
                    <span>Amilase</span>
                </td>
                <td >
                    <span>K01</span>
                </td>
                <td>
                    <span>T3</span>
                </td>
                <td >
                    <span>N11</span>
                </td>
                <td>
                    <span>IgM Anti HSV1</span>
                </td>
                <td >
                    <span>S11</span>
                </td>
                <td>
                    <span>Hormon<span>&nbsp; &nbsp;</span>(AMH)</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span>A12</span>
                </td>
                <td>
                    <span>INR</span>
                </td>
                <td >
                    <span>E12</span>
                </td>
                <td>
                    <span>Lipase</span>
                </td>
                <td >
                    <span>K02</span>
                </td>
                <td>
                    <span>T4</span>
                </td>
                <td >
                    <span>N12</span>
                </td>
                <td>
                    <span>IgG Anti HSV2</span>
                </td>
                <td class="xl69" style="background-color:rgb(241, 169, 131);border-bottom-style:none;border-left:0.5pt none windowtext;border-right:.5pt solid black;border-top-style:none;font-style:normal;font-weight:400;padding-left:1px;padding-right:1px;padding-top:1px;text-align:center;text-decoration-line:none;text-wrap:nowrap;vertical-align:bottom;white-space-collapse:collapse;" colspan="2">
                    <span>ALERGI</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span>A13</span>
                </td>
                <td>
                    <span>Tes Agregasi Trombosi (TAT)</span>
                </td>
                <td class="xl69" style="background-color:rgb(241, 169, 131);border-bottom-style:none;border-left:0.5pt none windowtext;border-right:.5pt solid black;border-top-style:none;font-style:normal;font-weight:400;padding-left:1px;padding-right:1px;padding-top:1px;text-align:center;text-decoration-line:none;text-wrap:nowrap;vertical-align:bottom;white-space-collapse:collapse;" colspan="2">
                    <span>FAAL GINJAL</span>
                </td>
                <td >
                    <span>K03</span>
                </td>
                <td>
                    <span>TSH-s</span>
                </td>
                <td class="xl69" style="background-color:rgb(241, 169, 131);border-bottom-style:none;border-left:0.5pt none windowtext;border-right:.5pt solid black;border-top-style:none;font-style:normal;font-weight:400;padding-left:1px;padding-right:1px;padding-top:1px;text-align:center;text-decoration-line:none;text-wrap:nowrap;vertical-align:bottom;white-space-collapse:collapse;" colspan="2">
                    <span>AUTOIMUN</span>
                </td>
                <td >
                    <span>T01</span>
                </td>
                <td>
                    <span>IgE Total</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span>A14</span>
                </td>
                <td>
                    <span>Viskositas Plasma</span>
                </td>
                <td >
                    <span>F01</span>
                </td>
                <td>
                    <span>BUN</span>
                </td>
                <td >
                    <span>K04</span>
                </td>
                <td>
                    <span>Free T3</span>
                </td>
                <td >
                    <span>O01</span>
                </td>
                <td>
                    <span>Rheumatoid Factor</span>
                </td>
                <td >
                    <span>T02</span>
                </td>
                <td>
                    <span>IgE Atopy</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span>A15</span>
                </td>
                <td>
                    <span>Viskositas Darah</span>
                </td>
                <td >
                    <span>F02</span>
                </td>
                <td>
                    <span>Kreatinin</span>
                </td>
                <td >
                    <span>K05</span>
                </td>
                <td>
                    <span>Free T4</span>
                </td>
                <td >
                    <span>O02</span>
                </td>
                <td>
                    <span>ASTO</span>
                </td>
                <td class="xl69" style="background-color:rgb(241, 169, 131);border-bottom-style:none;border-left:0.5pt none windowtext;border-right:.5pt solid black;border-top-style:none;font-style:normal;font-weight:400;padding-left:1px;padding-right:1px;padding-top:1px;text-align:center;text-decoration-line:none;text-wrap:nowrap;vertical-align:bottom;white-space-collapse:collapse;" colspan="2">
                    <span>PCR</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span>A16</span>
                </td>
                <td>
                    <span>Serum Iron</span>
                </td>
                <td >
                    <span>F03</span>
                </td>
                <td>
                    <span>Cystatin C</span>
                </td>
                <td >
                    <span>K06</span>
                </td>
                <td>
                    <span>Free T4 index</span>
                </td>
                <td >
                    <span>O03</span>
                </td>
                <td>
                    <span>ANA</span>
                </td>
                <td >
                    <span>U01</span>
                </td>
                <td>
                    <span>HBV DNA Kuantitatif</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span>A17</span>
                </td>
                <td>
                    <span>TIBC</span>
                </td>
                <td >
                    <span>F04</span>
                </td>
                <td>
                    <span>Asam Urat</span>
                </td>
                <td >
                    <span>K07</span>
                </td>
                <td>
                    <span>Tyroglobulin</span>
                </td>
                <td >
                    <span>O04</span>
                </td>
                <td>
                    <span>Anti ds -DNA</span>
                </td>
                <td >
                    <span>U02</span>
                </td>
                <td>
                    <span>HCV RNA Kuantitatif</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span>A18</span>
                </td>
                <td>
                    <span>Ferritin</span>
                </td>
                <td class="xl69" style="background-color:rgb(241, 169, 131);border-bottom-style:none;border-left:0.5pt none windowtext;border-right:.5pt solid black;border-top-style:none;font-style:normal;font-weight:400;padding-left:1px;padding-right:1px;padding-top:1px;text-align:center;text-decoration-line:none;text-wrap:nowrap;vertical-align:bottom;white-space-collapse:collapse;" colspan="2">
                    <span>LEMAK</span>
                </td>
                <td class="xl69" style="background-color:rgb(241, 169, 131);border-bottom-style:none;border-left:0.5pt none windowtext;border-right:.5pt solid black;border-top-style:none;font-style:normal;font-weight:400;padding-left:1px;padding-right:1px;padding-top:1px;text-align:center;text-decoration-line:none;text-wrap:nowrap;vertical-align:bottom;white-space-collapse:collapse;" colspan="2">
                    <span>HEPATITIS</span>
                </td>
                <td >
                    <span>O05</span>
                </td>
                <td>
                    <span>IgM Anti ACA</span>
                </td>
                <td >
                    <span>U03</span>
                </td>
                <td>
                    <span>S.Typhi Kualitatif</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span>A19</span>
                </td>
                <td>
                    <span>Transfernin</span>
                </td>
                <td >
                    <span>G01</span>
                </td>
                <td>
                    <span>Profil Lemak</span>
                </td>
                <td >
                    <span>L01</span>
                </td>
                <td>
                    <span>HbsAg</span>
                </td>
                <td >
                    <span>O06</span>
                </td>
                <td>
                    <span>IgG Anti ACA</span>
                </td>
                <td class="xl69" style="background-color:rgb(241, 169, 131);border-bottom-style:none;border-left:0.5pt none windowtext;border-right:.5pt solid black;border-top-style:none;font-style:normal;font-weight:400;padding-left:1px;padding-right:1px;padding-top:1px;text-align:center;text-decoration-line:none;text-wrap:nowrap;vertical-align:bottom;white-space-collapse:collapse;" colspan="2">
                    <span>KULTUR &amp; SENSITIVITAS</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span>A20</span>
                </td>
                <td>
                    <span>G6PD</span>
                </td>
                <td >
                    <span>G02</span>
                </td>
                <td>
                    <span>Kolesterol Total</span>
                </td>
                <td >
                    <span>L02</span>
                </td>
                <td>
                    <span>Anti HBs</span>
                </td>
                <td >
                    <span>O07</span>
                </td>
                <td>
                    <span>C3 Komplemen</span>
                </td>
                <td >
                    <span>V01</span>
                </td>
                <td>
                    <span>Kultur Darah</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span>A21</span>
                </td>
                <td>
                    <span>Coombs Tes Direk</span>
                </td>
                <td >
                    <span>G03</span>
                </td>
                <td>
                    <span>Trigliserida</span>
                </td>
                <td >
                    <span>L03</span>
                </td>
                <td>
                    <span>Anti HBc</span>
                </td>
                <td >
                    <span>O08</span>
                </td>
                <td>
                    <span>C4 Komplemen</span>
                </td>
                <td >
                    <span>V02</span>
                </td>
                <td>
                    <span>Kultur Urine</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span>A22</span>
                </td>
                <td>
                    <span>Hb Elektroforesis HPLC</span>
                </td>
                <td >
                    <span>G04</span>
                </td>
                <td>
                    <span>HDL Kolesterol</span>
                </td>
                <td >
                    <span>L04</span>
                </td>
                <td>
                    <span>IgM Anti HBc</span>
                </td>
                <td >
                    <span>O09</span>
                </td>
                <td>
                    <span>Set LE</span>
                </td>
                <td >
                    <span>V03</span>
                </td>
                <td>
                    <span>Kultur Faeces</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span>A23</span>
                </td>
                <td>
                    <span>Hb F</span>
                </td>
                <td >
                    <span>G05</span>
                </td>
                <td>
                    <span>LDL Kolesterol</span>
                </td>
                <td >
                    <span>L05</span>
                </td>
                <td>
                    <span>HbeAg</span>
                </td>
                <td >
                    <span>O10</span>
                </td>
                <td>
                    <span>CRP Kuantitatif</span>
                </td>
                <td >
                    <span>V04</span>
                </td>
                <td>
                    <span>Kultur Pus</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span>A24</span>
                </td>
                <td>
                    <span>Hb H</span>
                </td>
                <td >
                    <span>G06</span>
                </td>
                <td>
                    <span>Small Dense LDL</span>
                </td>
                <td >
                    <span>L06</span>
                </td>
                <td>
                    <span>Anti Hbe</span>
                </td>
                <td >
                    <span>O11</span>
                </td>
                <td>
                    <span>ANA Profile</span>
                </td>
                <td >
                    <span>V05</span>
                </td>
                <td>
                    <span>Kultur Sputum</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span>A25</span>
                </td>
                <td>
                    <span>Hb A2</span>
                </td>
                <td >
                    <span>G07</span>
                </td>
                <td>
                    <span>Lp(a)</span>
                </td>
                <td >
                    <span>L07</span>
                </td>
                <td>
                    <span>Anti HAV Total</span>
                </td>
                <td >
                    <span>O12</span>
                </td>
                <td>
                    <span>IgG Anti CCP</span>
                </td>
                <td >
                    <span>V06</span>
                </td>
                <td>
                    <span>Kultur Usap Tenggorok</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span>A26</span>
                </td>
                <td>
                    <span>Procalsitonin</span>
                </td>
                <td >
                    <span>G08</span>
                </td>
                <td>
                    <span>APOA1</span>
                </td>
                <td >
                    <span>L08</span>
                </td>
                <td>
                    <span>IgM Anti HAV</span>
                </td>
                <td class="xl69" style="background-color:rgb(241, 169, 131);border-bottom-style:none;border-left:0.5pt none windowtext;border-right:.5pt solid black;border-top-style:none;font-style:normal;font-weight:400;padding-left:1px;padding-right:1px;padding-top:1px;text-align:center;text-decoration-line:none;text-wrap:nowrap;vertical-align:bottom;white-space-collapse:collapse;" colspan="2">
                    <span>TUMOR MARKER</span>
                </td>
                <td >
                    <span>V07</span>
                </td>
                <td>
                    <span>Kultur..........................</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span>A27</span>
                </td>
                <td>
                    <span>D-Dimer FDP</span>
                </td>
                <td >
                    <span>G09</span>
                </td>
                <td>
                    <span>APOB</span>
                </td>
                <td >
                    <span>L09</span>
                </td>
                <td>
                    <span>IgG Anti HAV</span>
                </td>
                <td >
                    <span>P01</span>
                </td>
                <td>
                    <span>AFP</span>
                </td>
                <td class="xl69" style="background-color:rgb(241, 169, 131);border-bottom-style:none;border-left:0.5pt none windowtext;border-right:.5pt solid black;border-top-style:none;font-style:normal;font-weight:400;padding-left:1px;padding-right:1px;padding-top:1px;text-align:center;text-decoration-line:none;text-wrap:nowrap;vertical-align:bottom;white-space-collapse:collapse;" colspan="2">
                    <span>PREPARAT</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span>A28</span>
                </td>
                <td>
                    <span>CD4</span>
                </td>
                <td >
                    <span>G10</span>
                </td>
                <td>
                    <span>Adiponektin</span>
                </td>
                <td >
                    <span>L10</span>
                </td>
                <td>
                    <span>Anti HCV</span>
                </td>
                <td >
                    <span>P02</span>
                </td>
                <td>
                    <span>CEA</span>
                </td>
                <td >
                    <span>W01</span>
                </td>
                <td>
                    <span>Sampel : ...................</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span>A29</span>
                </td>
                <td>
                    <span>Protein C</span>
                </td>
                <td class="xl69" style="background-color:rgb(241, 169, 131);border-bottom-style:none;border-left:0.5pt none windowtext;border-right:.5pt solid black;border-top-style:none;font-style:normal;font-weight:400;padding-left:1px;padding-right:1px;padding-top:1px;text-align:center;text-decoration-line:none;text-wrap:nowrap;vertical-align:bottom;white-space-collapse:collapse;" colspan="2">
                    <span>ELEKTROLIT</span>
                </td>
                <td class="xl69" style="background-color:rgb(241, 169, 131);border-bottom-style:none;border-left:0.5pt none windowtext;border-right:.5pt solid black;border-top-style:none;font-style:normal;font-weight:400;padding-left:1px;padding-right:1px;padding-top:1px;text-align:center;text-decoration-line:none;text-wrap:nowrap;vertical-align:bottom;white-space-collapse:collapse;" colspan="2">
                    <span>INVEKSI LAIN</span>
                </td>
                <td >
                    <span>P03</span>
                </td>
                <td>
                    <span>NSE</span>
                </td>
                <td >
                    <span>W02</span>
                </td>
                <td>
                    <span>Gram</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span>A30</span>
                </td>
                <td>
                    <span>Protein S</span>
                </td>
                <td >
                    <span>H01</span>
                </td>
                <td>
                    <span>Natrium</span>
                </td>
                <td >
                    <span>M01</span>
                </td>
                <td>
                    <span>IgM Anti Chlamydia</span>
                </td>
                <td >
                    <span>P04</span>
                </td>
                <td>
                    <span>SCC</span>
                </td>
                <td >
                    <span>W03</span>
                </td>
                <td>
                    <span>Jamur/spora</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span>A31</span>
                </td>
                <td>
                    <span>Beta 2 Glikoprotein</span>
                </td>
                <td >
                    <span>H02</span>
                </td>
                <td>
                    <span>Kalium</span>
                </td>
                <td >
                    <span>M02</span>
                </td>
                <td>
                    <span>IgG Anti Chlamydia</span>
                </td>
                <td >
                    <span>P05</span>
                </td>
                <td>
                    <span>Ca 15-3</span>
                </td>
                <td >
                    <span>W04</span>
                </td>
                <td>
                    <span>Trichomonas</span>
                </td>
            </tr>
            <tr>
                <td class="xl69" style="background-color:rgb(241, 169, 131);border-bottom-style:none;border-left:0.5pt solid windowtext;border-right:.5pt solid black;border-top-style:none;font-style:normal;font-weight:400;height:15.0pt;padding-left:1px;padding-right:1px;padding-top:1px;text-align:center;text-decoration-line:none;text-wrap:nowrap;vertical-align:bottom;white-space-collapse:collapse;" colspan="2" height="20">
                    <span>KEHAMILAN</span>
                </td>
                <td >
                    <span>H03</span>
                </td>
                <td>
                    <span>Klorida</span>
                </td>
                <td >
                    <span>M03</span>
                </td>
                <td>
                    <span>TPHA/TPLA</span>
                </td>
                <td >
                    <span>P06</span>
                </td>
                <td>
                    <span>Ca 19-9</span>
                </td>
                <td >
                    <span>W05</span>
                </td>
                <td>
                    <span>Gonorrhea</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span>B01</span>
                </td>
                <td>
                    <span>Test Pack (HCG Urine)</span>
                </td>
                <td >
                    <span>H04</span>
                </td>
                <td>
                    <span>Kalsium Total</span>
                </td>
                <td >
                    <span>M04</span>
                </td>
                <td>
                    <span>VDRL/RPR</span>
                </td>
                <td >
                    <span>P07</span>
                </td>
                <td>
                    <span>Ca 125</span>
                </td>
                <td >
                    <span>W06</span>
                </td>
                <td>
                    <span>Diphteria</span>
                </td>
            </tr>
            <tr>
                <td class="xl69" style="background-color:rgb(241, 169, 131);border-bottom-style:none;border-left:0.5pt solid windowtext;border-right:.5pt solid black;border-top-style:none;font-style:normal;font-weight:400;height:15.0pt;padding-left:1px;padding-right:1px;padding-top:1px;text-align:center;text-decoration-line:none;text-wrap:nowrap;vertical-align:bottom;white-space-collapse:collapse;" colspan="2" height="20">
                    <span>FAECES</span>
                </td>
                <td >
                    <span>H05</span>
                </td>
                <td>
                    <span>Kalsium Ion</span>
                </td>
                <td >
                    <span>M05</span>
                </td>
                <td>
                    <span>Anti HIV</span>
                </td>
                <td >
                    <span>P08</span>
                </td>
                <td>
                    <span>Beta 2 Microglobulin</span>
                </td>
                <td class="xl69" style="background-color:rgb(241, 169, 131);border-bottom-style:none;border-left:0.5pt none windowtext;border-right:.5pt solid black;border-top-style:none;font-style:normal;font-weight:400;padding-left:1px;padding-right:1px;padding-top:1px;text-align:center;text-decoration-line:none;text-wrap:nowrap;vertical-align:bottom;white-space-collapse:collapse;" colspan="2">
                    <span>TUBERCULOSIS</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span>C01</span>
                </td>
                <td>
                    <span>Faeces Rutin</span>
                </td>
                <td >
                    <span>H06</span>
                </td>
                <td>
                    <span>Fosfor</span>
                </td>
                <td >
                    <span>M06</span>
                </td>
                <td>
                    <span>Widal</span>
                </td>
                <td class="xl69" style="background-color:rgb(241, 169, 131);border-bottom-style:none;border-left:0.5pt none windowtext;border-right:.5pt solid black;border-top-style:none;font-style:normal;font-weight:400;padding-left:1px;padding-right:1px;padding-top:1px;text-align:center;text-decoration-line:none;text-wrap:nowrap;vertical-align:bottom;white-space-collapse:collapse;" colspan="2">
                    <span>SITOLOGI</span>
                </td>
                <td >
                    <span>X01</span>
                </td>
                <td>
                    <span>IgRA TB</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span>C02</span>
                </td>
                <td>
                    <span>Darah Samar (OB)</span>
                </td>
                <td >
                    <span>H07</span>
                </td>
                <td>
                    <span>Magnesium</span>
                </td>
                <td >
                    <span>M07</span>
                </td>
                <td>
                    <span>IgM Anti Salmonella Typhi</span>
                </td>
                <td >
                    <span>Q01</span>
                </td>
                <td>
                    <span>Pap Smear</span>
                </td>
                <td >
                    <span>X02</span>
                </td>
                <td>
                    <span>BTA</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span>C03</span>
                </td>
                <td>
                    <span>Floating Test</span>
                </td>
                <td class="xl69" style="background-color:rgb(241, 169, 131);border-bottom-style:none;border-left:0.5pt none windowtext;border-right:.5pt solid black;border-top-style:none;font-style:normal;font-weight:400;padding-left:1px;padding-right:1px;padding-top:1px;text-align:center;text-decoration-line:none;text-wrap:nowrap;vertical-align:bottom;white-space-collapse:collapse;" colspan="2">
                    <span>JANTUNG</span>
                </td>
                <td >
                    <span>M08</span>
                </td>
                <td>
                    <span>Dengue NS1</span>
                </td>
                <td >
                    <span>Q02</span>
                </td>
                <td>
                    <span>Sitologi................</span>
                </td>
                <td class="xl69" style="background-color:rgb(241, 169, 131);border-bottom-style:none;border-left:0.5pt none windowtext;border-right:.5pt solid black;border-top-style:none;font-style:normal;font-weight:400;padding-left:1px;padding-right:1px;padding-top:1px;text-align:center;text-decoration-line:none;text-wrap:nowrap;vertical-align:bottom;white-space-collapse:collapse;" colspan="2">
                    <span>BIOMOLEKULER</span>
                </td>
            </tr>
            <tr>
                <td class="xl69" style="background-color:rgb(241, 169, 131);border-bottom-style:none;border-left:0.5pt solid windowtext;border-right:.5pt solid black;border-top-style:none;font-style:normal;font-weight:400;height:15.0pt;padding-left:1px;padding-right:1px;padding-top:1px;text-align:center;text-decoration-line:none;text-wrap:nowrap;vertical-align:bottom;white-space-collapse:collapse;" colspan="2" height="20">
                    <span>RADIOLOGI</span>
                </td>
                <td >
                    <span>I01</span>
                </td>
                <td>
                    <span>Hs-CRP (ss-CRP)</span>
                </td>
                <td >
                    <span>M09</span>
                </td>
                <td>
                    <span>IgG &amp; IgM Anti Dengue</span>
                </td>
                <td >
                    <span>Q03</span>
                </td>
                <td>
                    <span>Analisa Sperma</span>
                </td>
                <td >
                    <span>Y01</span>
                </td>
                <td>
                    <span>BRCA</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span>D01</span>
                </td>
                <td>
                    <span>Mammografi 2D</span>
                </td>
                <td >
                    <span>I02</span>
                </td>
                <td>
                    <span>Troponin I (cTnI)</span>
                </td>
                <td >
                    <span>M10</span>
                </td>
                <td>
                    <span>IgM Anti Chikungunya</span>
                </td>
                <td >
                    <span>Q04</span>
                </td>
                <td>
                    <span>Analisa.................</span>
                </td>
                <td >
                    &nbsp;
                </td>
                <td>
                    &nbsp;
                </td>
            </tr>
            <tr>
                <td>
                    <span>D02</span>
                </td>
                <td>
                    <span>Mammografi 3D</span>
                </td>
                <td >
                    <span>I03</span>
                </td>
                <td>
                    <span>Troponin T (cTnT)</span>
                </td>
                <td >
                    <span>M11</span>
                </td>
                <td>
                    <span>IgM Anti H.PyIori</span>
                </td>
                <td >
                    <span>Q05</span>
                </td>
                <td>
                    <span>Urine Rutin</span>
                </td>
                <td >
                    &nbsp;
                </td>
                <td>
                    &nbsp;
                </td>
            </tr>
            <tr>
                <td>
                    <span>D03</span>
                </td>
                <td>
                    <span>USG Mammae</span>
                </td>
                <td >
                    <span>I04</span>
                </td>
                <td>
                    <span>Homocysteine</span>
                </td>
                <td >
                    <span>M12</span>
                </td>
                <td>
                    <span>IgG Anti H.Pylori</span>
                </td>
                <td class="xl69" style="background-color:rgb(241, 169, 131);border-bottom-style:none;border-left:0.5pt none windowtext;border-right:.5pt solid black;border-top-style:none;font-style:normal;font-weight:400;padding-left:1px;padding-right:1px;padding-top:1px;text-align:center;text-decoration-line:none;text-wrap:nowrap;vertical-align:bottom;white-space-collapse:collapse;" colspan="2">
                    <span>URINE</span>
                </td>
                <td >
                    &nbsp;
                </td>
                <td>
                    &nbsp;
                </td>
            </tr>
            <tr>
                <td>
                    <span>D04</span>
                </td>
                <td>
                    <span>USG Thyroid</span>
                </td>
                <td >
                    <span>I05</span>
                </td>
                <td>
                    <span>LDH</span>
                </td>
                <td >
                    <span>M13</span>
                </td>
                <td>
                    <span>Adenosin Deaminase (ADA)</span>
                </td>
                <td >
                    <span>R01</span>
                </td>
                <td>
                    <span>Urine Rutin</span>
                </td>
                <td >
                    &nbsp;
                </td>
                <td>
                    &nbsp;
                </td>
            </tr>
            <tr>
                <td>
                    <span>D05</span>
                </td>
                <td>
                    <span>USG Abdomen Upper</span>
                </td>
                <td >
                    <span>I06</span>
                </td>
                <td>
                    <span>NT-proBNP</span>
                </td>
                <td >
                    <span>M14</span>
                </td>
                <td>
                    <span>Swab Antigen Covid</span>
                </td>
                <td >
                    &nbsp;
                </td>
                <td>
                    &nbsp;
                </td>
                <td >
                    &nbsp;
                </td>
                <td>
                    &nbsp;
                </td>
            </tr>
            <tr>
                <td>
                    <span>D06</span>
                </td>
                <td>
                    <span>USG Abdomen Lower</span>
                </td>
                <td >
                    &nbsp;
                </td>
                <td>
                    &nbsp;
                </td>
                <td >
                    &nbsp;
                </td>
                <td>
                    &nbsp;
                </td>
                <td >
                    &nbsp;
                </td>
                <td>
                    &nbsp;
                </td>
                <td >
                    &nbsp;
                </td>
                <td>
                    &nbsp;
                </td>
            </tr>
            <tr>
                <td>
                    <span>D07</span>
                </td>
                <td>
                    <span>USG Colli/Leher</span>
                </td>
                <td >
                    &nbsp;
                </td>
                <td>
                    &nbsp;
                </td>
                <td >
                    &nbsp;
                </td>
                <td>
                    &nbsp;
                </td>
                <td >
                    &nbsp;
                </td>
                <td>
                    &nbsp;
                </td>
                <td >
                    &nbsp;
                </td>
                <td>
                    &nbsp;
                </td>
            </tr>
            <tr>
                <td>
                    <span>D08</span>
                </td>
                <td>
                    <span>Thorax X-Ray</span>
                </td>
                <td >
                    &nbsp;
                </td>
                <td>
                    &nbsp;
                </td>
                <td >
                    &nbsp;
                </td>
                <td>
                    &nbsp;
                </td>
                <td >
                    &nbsp;
                </td>
                <td>
                    &nbsp;
                </td>
                <td >
                    &nbsp;
                </td>
                <td>
                    &nbsp;
                </td>
            </tr>
            <tr>
                <td>
                    <span>D09</span>
                </td>
                <td>
                    <span>X-Ray ...........................</span>
                </td>
                <td >
                    &nbsp;
                </td>
                <td>
                    &nbsp;
                </td>
                <td >
                    &nbsp;
                </td>
                <td>
                    &nbsp;
                </td>
                <td >
                    &nbsp;
                </td>
                <td>
                    &nbsp;
                </td>
                <td >
                    &nbsp;
                </td>
                <td>
                    &nbsp;
                </td>
            </tr>
            <tr>
                <td class="xl71" style="border-bottom:0.5pt solid windowtext;border-left:0.5pt solid windowtext;border-right-style:none;border-top-style:none;font-style:normal;font-weight:400;height:15.0pt;padding-left:1px;padding-right:1px;padding-top:1px;text-decoration-line:none;text-wrap:nowrap;vertical-align:bottom;white-space-collapse:collapse;" height="20">
                    &nbsp;
                </td>
                <td class="xl72" style="border-bottom:0.5pt solid windowtext;border-left-style:none;border-right:0.5pt solid windowtext;border-top-style:none;font-style:normal;font-weight:400;padding-left:1px;padding-right:1px;padding-top:1px;text-decoration-line:none;text-wrap:nowrap;vertical-align:bottom;white-space-collapse:collapse;">
                    &nbsp;
                </td>
                <td class="xl71" style="border-bottom:0.5pt solid windowtext;border-left:0.5pt none windowtext;border-right-style:none;border-top-style:none;font-style:normal;font-weight:400;padding-left:1px;padding-right:1px;padding-top:1px;text-decoration-line:none;text-wrap:nowrap;vertical-align:bottom;white-space-collapse:collapse;">
                    &nbsp;
                </td>
                <td class="xl72" style="border-bottom:0.5pt solid windowtext;border-left-style:none;border-right:0.5pt solid windowtext;border-top-style:none;font-style:normal;font-weight:400;padding-left:1px;padding-right:1px;padding-top:1px;text-decoration-line:none;text-wrap:nowrap;vertical-align:bottom;white-space-collapse:collapse;">
                    &nbsp;
                </td>
                <td class="xl71" style="border-bottom:0.5pt solid windowtext;border-left:0.5pt none windowtext;border-right-style:none;border-top-style:none;font-style:normal;font-weight:400;padding-left:1px;padding-right:1px;padding-top:1px;text-decoration-line:none;text-wrap:nowrap;vertical-align:bottom;white-space-collapse:collapse;">
                    &nbsp;
                </td>
                <td class="xl72" style="border-bottom:0.5pt solid windowtext;border-left-style:none;border-right:0.5pt solid windowtext;border-top-style:none;font-style:normal;font-weight:400;padding-left:1px;padding-right:1px;padding-top:1px;text-decoration-line:none;text-wrap:nowrap;vertical-align:bottom;white-space-collapse:collapse;">
                    &nbsp;
                </td>
                <td class="xl71" style="border-bottom:0.5pt solid windowtext;border-left:0.5pt none windowtext;border-right-style:none;border-top-style:none;font-style:normal;font-weight:400;padding-left:1px;padding-right:1px;padding-top:1px;text-decoration-line:none;text-wrap:nowrap;vertical-align:bottom;white-space-collapse:collapse;">
                    &nbsp;
                </td>
                <td class="xl72" style="border-bottom:0.5pt solid windowtext;border-left-style:none;border-right:0.5pt solid windowtext;border-top-style:none;font-style:normal;font-weight:400;padding-left:1px;padding-right:1px;padding-top:1px;text-decoration-line:none;text-wrap:nowrap;vertical-align:bottom;white-space-collapse:collapse;">
                    &nbsp;
                </td>
                <td class="xl71" style="border-bottom:0.5pt solid windowtext;border-left:0.5pt none windowtext;border-right-style:none;border-top-style:none;font-style:normal;font-weight:400;padding-left:1px;padding-right:1px;padding-top:1px;text-decoration-line:none;text-wrap:nowrap;vertical-align:bottom;white-space-collapse:collapse;">
                    &nbsp;
                </td>
                <td class="xl72" style="border-bottom:0.5pt solid windowtext;border-left-style:none;border-right:0.5pt solid windowtext;border-top-style:none;font-style:normal;font-weight:400;padding-left:1px;padding-right:1px;padding-top:1px;text-decoration-line:none;text-wrap:nowrap;vertical-align:bottom;white-space-collapse:collapse;">
                    &nbsp;
                </td>
            </tr>
        </tbody>
    </table>
</figure>